<div class="shipping-policies">
    <h1>Términos y Políticas de Envío</h1>
    <div class="shipping-policies">
        
        <p>1. Generalidades Agroindustrias MAFER (en adelante "la Empresa") se compromete a entregar productos de la más alta calidad a sus clientes. A continuación, se detallan los términos y condiciones que rigen la política de envío de nuestros productos.</p>
        
        <p>2. Alcance de la Responsabilidad en el Envío La Empresa se hace responsable del traslado de los productos desde nuestras instalaciones hasta el terminal o la agencia de transporte ubicada en Abancay. A partir de la entrega de los productos en dicho terminal o agencia, la responsabilidad de la Empresa finaliza. Cualquier riesgo, daño, pérdida o inconveniente que pueda ocurrir durante el transporte a nivel nacional será responsabilidad exclusiva del cliente y/o de la empresa de transporte contratada.</p>
        
        <p>3. Elección de la Agencia de Transporte El cliente tiene la opción de elegir la agencia de transporte de su preferencia dentro de las opciones disponibles en Abancay. Si el cliente no especifica una agencia, la Empresa seleccionará la que considere más adecuada según la naturaleza del pedido y la disponibilidad.</p>
        
        <p>4. Costos de Envío El costo del envío hasta el terminal o la agencia de transporte en Abancay es cubierto por la Empresa. Cualquier costo adicional asociado al envío desde Abancay hasta el destino final será asumido por el cliente. Es responsabilidad del cliente verificar y acordar las tarifas con la agencia de transporte.</p>
        
        <p>5. Proceso de Entrega en Abancay La Empresa garantiza que los productos serán entregados en condiciones óptimas en el terminal o agencia de transporte seleccionada en Abancay. La entrega se considerará completa y conforme una vez que la agencia o transportista firme el recibo de los productos.</p>
        
        <p>6. Plazos de Entrega La Empresa coordinará con el cliente para determinar una fecha y hora aproximada de entrega en el terminal o agencia de transporte en Abancay. Sin embargo, la Empresa no se hace responsable por retrasos ocasionados por factores externos, como huelgas, condiciones climáticas adversas, o problemas de transporte.</p>
        
        <p>7. Comunicaciones Es responsabilidad del cliente proporcionar información de contacto precisa y actualizada para coordinar la entrega de los productos en el terminal o agencia de transporte en Abancay. La Empresa no será responsable por demoras o problemas de entrega derivados de la falta de comunicación efectiva.</p>
        
        <p>8. Reclamaciones Cualquier reclamación por productos dañados, incompletos o en mal estado debe realizarse directamente a la agencia de transporte correspondiente, una vez que los productos han salido del terminal o agencia en Abancay. La Empresa no se hará responsable de dichos reclamos una vez que los productos hayan sido entregados al transportista.</p>
        
        <p>9. Aceptación de los Términos Al realizar un pedido con Agroindustrias MAFER, el cliente acepta los términos y condiciones aquí detallados. Se recomienda a los clientes leer y comprender completamente estos términos antes de realizar un pedido.</p>
        
        <p>10. Modificaciones La Empresa se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Cualquier cambio será comunicado a los clientes a través de nuestros canales oficiales y se aplicará a pedidos realizados después de la publicación de dichas modificaciones.</p>
        
       
    </div>
    
    <div class="button-container">
        <button (click)="accept()">Aceptar</button>
        <button (click)="goHome()">Regresar al inicio</button>
    </div>
</div>
