
        <!-- Footer Start -->
        <div class="container-fluid bg-success-subtle text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <a id="brandname" class="toggleColour flex pl-2 items-center gap-3 text-white no-underline hover:no-underline font-bold" href="#">
                                <!--Icon from: http://www.potlabicons.com/ -->
                                <img src="./assets/images/logo.png"  alt="" class="w-16">
                                <span class="text-xl text-red-400">
                                  Agroindustrias Mafer
                                </span>
                              </a>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mx-auto">
                                <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                                <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="d-flex justify-content-end pt-3">
                                <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.facebook.com/profile.php?id=100095415611499"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-dark mb-3">Agroindustriasmafer</h4>
                            <p class="mb-4 text-dark">Estamos para brindarte un servicio y productos de calidad, elaborado por el mejor grupo de expertos de la industria</p>
                            <a routerLink="/contact" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Conozca mas sobre nosotros</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-dark mb-3">Informacion del Servicio y Pedidos</h4>
                          
                            <a routerLink="/shipping-policies" class="btn-link">Terminos y Politicas de Envio</a>
                            <a class="btn-link" routerLink="/usage-policies" >Terminos y condiciones de uso</a>
                         
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-dark mb-3">Cuenta</h4>
                            <a class="btn-link" routerLink="profile" routerLinkActive="underline" >Mi perfil</a>
                            <a class="btn-link" routerLink="order" routerLinkActive="underline">Mis Pedidos</a>
                            <a class="btn-link" routerLink="cart" routerLinkActive="underline">Carrito de compras</a>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-dark mb-3">Contactanos</h4>
                            <div class="contact-item text-dark ">
                                <i class="fas fa-map-marker-alt"></i>
                                <h4>Victor Acosta Rios</h4>
                                <p>1ra Etapa, Tamburco-Abancay-Peru</p>
                            </div>
                            <div class="contact-item text-dark">
                                <i class="fas fa-envelope"></i>
                                <h4>Correo Electrónico:<a href="mailto:agroindustriasmafer@gmail.com" class="text-dark">agroindustriasmafer☼gmail.com</a></h4>
                                
                            </div>
                            <div class="contact-item text-dark">
                                <i class="fas fa-phone"></i>
                                <h4>Celular: 968557308 / 973181039</h4>
                              
                            </div>
                            <p>Métodos de pago aceptados</p>
                            <img src="./assets/images/micuentaweb.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->