<div class="contact-us-container">
    <!-- Image Section -->
    <div class="image-section">
        <img src="./assets/images/fondoR.jpg" alt="Local Image" class="contact-image">
    </div>

    <!-- Contact Details Section -->
    <div class="contact-details">
        <div class="contact-info">
            <div class="contact-item">
                <i class="fas fa-user"></i>
                <h4>De: Ing. MARITZA FERNANDEZ CHOQUE</h4>
                
            </div>

            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <h4>Victor Acosta Rios</h4>
                <p>1ra Etapa, Tamburco-Abancay-Peru</p>
            </div>
            <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <h4>Correo Electrónico:<a href="mailto:agroindustriasmafer@gmail.com" class="text-dark">agroindustriasmafer☼gmail.com</a></h4>
                
            </div>
          
           
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <h4>Celular: 968557308 / 973181039</h4>
              
            </div>
        </div>
    </div>
</div>

<!-- Contact Form Section -->
<div class="form-section">
    <form>
        <input type="text" placeholder="Your Name" class="form-input">
        <input type="email" placeholder="Enter Your Email" class="form-input">
        <textarea placeholder="Your Message" class="form-input"></textarea>
        <button type="submit" class="submit-button">Submit</button>
        <button
            type="button"
            routerLink="../"
            class="text-white bg-green-600 hover:bg-red-700  text-center"
        >
            Volver al Inicio
        </button>
    </form>
</div>
